@media screen and ( min-width: 1200px )
  .container
    width: 87%
  .container__extra
    width: 100%
  .nav
    &__item
      margin-right: 2rem
  
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .container
    width: 85%
  .nav
    &__item
      margin-right: 1rem
  .section
    margin-top: 0

@media screen and ( max-width: 992px )
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .nav
    display: none

@media screen and  ( max-width: 768px ) 
  .hero
    &__scroll-down
      display: none
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
    &__section-title
      margin-bottom: 3.3rem
  .card
    &__text
      margin-left: 0
      max-width: 22.8rem
      margin-top: -11.9rem
      padding: 1.6rem 2.6rem
    &__pricetag
      bottom: -1.29rem
      padding: 0.9rem 2.6rem
      min-width: 15.83rem
    &__list
      margin: 0 0 0 1.2rem
      line-height: 1.9rem
      margin-bottom: 2.2rem
  .section
    margin-top: 0
    &--design
      color: $light
      background-color: $dark-mobi
  .section-title__heading
    font-size: 1.83rem
  .section-title
    &__description
      color: $light
      max-width: 90%
      font-size: 1.25rem
      line-height: 1.83rem


@media ( min-width: 320px ) and ( max-width: 576px )
  .hero
    padding-top: 60px
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
  .container
    width: 90%
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 24.28rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 28rem
      margin-bottom: 1.86rem

@media ( min-width: 320px ) and ( max-width: 369px )
  .hero
    &__content
      min-width: 20rem
    &__button
      min-width: 100%
  .card
    &__pricetag
      min-width: 100%
    &__text
      max-width: 18rem

@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none

  @media ( min-width: 370px ) and ( max-width: 576px )
    .hero
      padding-top: 60px
